.panel-container {
    margin: 0 0 20px;
}

.panel-container-header {
    display: flex;
    padding: 10px;
}

.panel-container-header-left {
    text-align: left;
    flex-grow: 1;
}

.panel-container-header-right {
    flex: 0 0 auto;
}