.panel {
    padding: 10px;
    text-align: left;
}

.panel h3 {
    margin-top: 0;
}

.panel-header {
    display: flex;
}

.panel-header-title {
    flex-grow: 1;
}

.panel-header-left {
    margin-right: 10px;
}

.panel-header-right,
.panel-header-left {
    flex: 0 0 auto;
    display: grid;
    place-items: center;
}

.panel-active {
    background-color: rgb(175, 187, 206);
}

.panel.panel-active p {
    
}

.panel p {
    
}